<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Adonis: CRUD example</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">

    <script>
        // init function
        $(function() {

            // set current menu as 'active'
            var controller = location.pathname.substring(1).split('/')[0]
            $('ul.nav li:has(a[href^="/' + controller + '"])').addClass('active')

            @if(messages.info)
                alert('{{ messages.info }}')
            @endif
        })
    </script>
</head>

<body>
    <div class="container">

        <!-- menu -->
        <nav class="navbar navbar-default">

            <!-- adonis icon -->
            <div class="navbar-header">
                <div class="navbar-brand"><img src="/assets/favicon.png" width="20"></div>
            </div>

            <!-- links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                <ul class="nav navbar-nav">
                    <li><a href="/category">Categories</a></li>
                    <li><a href="/product">Products</a></li>
                </ul>
            </div>
        </nav>

        <!-- custom content -->
        @!section('content')

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>